/*************************
       ABOUT STORY
 *************************/

#about-story .back{
    background: url("../assets/index.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    padding:40px 0px;
}
#about-story .text{
    background: #ffffff;
    position: relative;
    margin: 36px 0px 32px calc((100% - 980px) * 0.5);
    width: 844px;
    padding: 30px 90px;
}

#about-story .text h3{
    margin: 25px 30px;
    font-size: 32px;
}

#about-story .text p{
    font-size: 15px;
}
#about-story .text hr {
    width: 75%;
    margin: 15px 12.5%;
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

#about-story .text hr:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
@media (max-width: 600px) {
    #about-story .text{
        padding: 30px 30px;
    }

    #about-story .text hr {
        width: 90%;
        margin: 15px 5%;
    }

}

@media (max-width: 1054px) {
    #about-story .text{
        margin: unset;
        width: unset;
    }

}

@media (max-width: 1000px) {
    #about-story .back {
        padding: unset;
    }

}


/*************************
       ABOUT STAFF
 *************************/

#about-staff{
    border-top: 6px solid green;
}

#about-staff div h3{
    font-size: 29px;
    text-align: center;
    margin: 28px 0px;
}

#about-galery div h3{
    font-size: 29px;
    text-align: center;
    margin: 28px 0px;
}

.about__section {
    width:80%;
    margin: 35px auto 60px auto;
}

.about__section .about__slot {
    width:25%;
    box-sizing: border-box;
    /*background-color:#f5f5f5;*/
    /*border:1px solid #ccc;*/
    border-right:none;
    border-top:none;
    height:15vw;
    min-height:300px;
    min-width:220px;
    display:inline-block;
    vertical-align:top;
    text-align:center;
    cursor:pointer;
    position:relative;
    background-size:0% auto;
    -webkit-transition:all 0.3s linear;
    background-position:center center;
    background-repeat:no-repeat;
    overflow:hidden;
}

.about__slot .bioText {
    opacity:0;
    color:rgba(242,242,242,0);
    pointer-events:none;
    position:absolute;
    top:350px;
    left:0;
    right:0;
    padding:10%;;
    padding-top:25px;
    padding-bottom:25px;
    width:80%;
    height:0;
    -webkit-transition:all 0.3s linear;
    margin:auto;
}

.about__slot.bio .about__info {
    top:0px;
    bottom:220px;
    background-color:rgba(0,0,0,0.42);
    box-shadow:inset 0px -5px 10px 0 rgba(0,0,0,1);
}

.about__slot.bio .bioText  {
    opacity:1;
    border-radius:0;
    position:absolute;
    top:50px;
    padding-top:200px;
    left:0;
    right:0;
    bottom:0;
    width:80%;
    height:250px;
    color:rgba(255,255,255,1);
    background-color:rgba(42,42,42,0.7);
    z-index:8;
    margin:auto;
    font-family:sans-serif;
    overflow:auto;
}

.about__slot .about__info {
    position:absolute;
    left:0;
    bottom:0;
    top:225px;
    right:0;
    pointer-events:none;
    z-index:9;
    -webkit-transition:all 0.3s linear;

}

.about__slot .headshot {
    margin:auto;
    margin-top:19px;
    width:172px;
    height:172px;
    /*border:10px double #424242;*/
    background-size:200px 200px;
    background-position:center 15%;
    background-repeat : no-repeat;
    border-radius:100%;
    box-shadow:0px 2px 10px 2px rgba(0,0,0,0.42);
    -webkit-transition:all 0.1s ease-in-out;
}

.about__slot.bio .headshot {
    -webkit-filter:blur(3px);
    opacity:1;
    width:100%;
    height:300px;
    border-radius:0;
    margin-top:0;
    background-size:375px 375px !important;
    border:0;
    top:0;
    left:0;
    bottom:0;
    right:0;

}

.about__slot .name {
    font-family:"Typo Grotesk",sans-serif;
    font-size:20px;
    font-weight:800;
    color:#424242;
    margin-bottom:0px;
    margin-top:10px;
    -webkit-transition:all 0.3s linear;
}

.about__slot .title {
    font-family:"Typo Grotesk",sans-serif;
    font-size:16px;
    font-weight:300;
    margin-top:5px;
    color: #7e7e7e;
    -webkit-transition:all 0.3s linear;
}
.about__slot:hover .title {
    color: #ffffff;
}


.about__slot.bio .name {
    color:#f5f5f5;
}

.about__section .about__slot:hover .headshot {
    opacity:1;
    width:100%;
    height:300px;
    border-radius:0;
    margin-top:0;
    background-size:325px 325px;
    border:0;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

.about__section .about__slot:hover .name {
    color:#f5f5f5 !important;
}


.about__section .about__slot:hover .about__info {
    background-color:rgba(0,0,0,0.42);
}

@media (max-width: 1110px) {
    .about__section{
        width: 100%;
    }

}
@media (max-width: 887px) {

    .about__section .about__slot {
        width: 35%;
        margin: 0px 32.5%;
    }

    .about__slot .about__info {
        position: unset;
    }



}

/*@media (max-width: 638px) {

    .about__section .about__slot {
        width: 40%;
        margin: 0px 30%;
    }

}*/

/*400*/
@media (max-width: 638px) {

    .about__section .about__slot {
        width: 98%;
        margin: 0px 1%;
    }


}
