/*************************
       CLASS GLOBAL
 *************************/

body{
    /*font-family: 'Ubuntu', sans-serif;*/
    color: #000000;
    background-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .container {
        width: 90%;
    }
}


/*************************
        NAVBAR
 *************************/

.navbar-img{
    width: 100%;
    height: 200px;
}











