/*************************
       CLASS GLOBAL
 *************************/

body{
    /*font-family: 'Ubuntu', sans-serif;*/
    color: #000000;
    background-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .container {
        width: 90%;
    }
}

/*************************
        NAVBAR
 *************************/

header {
    height: 360px;
    z-index: 10;
}
.header-banner {
    background-color: #333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

header h1 {
    background-color: white;
    padding: 0 1rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

header h1 img{
    width: 200px;
}


.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    width: 100%;
    height: 60px;
    background: #a7a7a7;
    postion: fixed;
    z-index: 10;
}

nav div {
    color: white;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
}
.visible-title {
    visibility: visible;
}

.visible-title img{
    width: 75px;
}

nav ul {
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
}
nav ul li {
    display: inline-block;
    line-height: 60px;
    margin-left: 10px;
}
nav ul li a {
    text-decoration: none;
    color: #000000;
}
