/*************************
       ALL PAGE1
 *************************/
:root {
    --color-page1-green: #4d8d4c;
    --color-page1-green-hover: #7fbf7f;
}

/*************************
       PAGE1 IMGHEAD
 *************************/

#page1-headimg div#img{
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) ), url("../assets/chairs-g38e12a6cd_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 489px;
    border-bottom-left-radius: 30% 10%;
    border-bottom-right-radius: 30% 10%;
}

#page1-headimg div#img div#center{
    position: absolute;
    width: 50%;
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#page1-headimg div#img div#center h1{

    margin-bottom: 36px;

}

#page1-headimg div#img div#center h1 img{
    width: 350px;
    background-color: rgb(255 255 255 / 80%);
    border-radius: 10px;
    padding: 5px 18px;

}

#page1-headimg div#img div#center h1 img:hover{
    background-color: white;
    border-radius: 8px;
    -webkit-transform:scale(1.25); /* Safari et Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);

}

#page1-headimg div#img div#center h1.uppercase{
    font-size: 26px;    color: #ffffff;
    text-shadow: 0 0 1em #000000;
}

#page1-headimg div#img div#center p{
    font-size: 19px;
    background-color: var(--color-page1-green);
    padding: 15px 0px;
    color: white;
    margin: 0px 30px;
}

#page1-headimg div#img div#center p:hover{

    border-radius: 10px;

    -webkit-transform:scale(1.05); /* Safari et Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.05);
}

@media (max-width: 991px) {
    #page1-headimg div#img div#center{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    #page1-headimg div#img div#center h1 img{
        width: 260px;
    }
    #page1-headimg div#img div#center h1.uppercase {
        font-size: 23px;
    }
    #page1-headimg div#img div#center p {

         margin: unset;
    }
}


/*************************
       PAGE1 ABOUT
 *************************/

#page1-about {
    padding: 63px 0px;
    text-align: center;
}

#page1-about div div img {

    width: 341px;
    border-radius: 13%;

}

#page1-about div div img:hover {

    -webkit-transform:scale(1.10); /* Safari et Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* Internet Explorer 9 */
    -o-transform:scale(1.10); /* Opera */
    transform:scale(1.10);

}


#page1-about h2{
    font-size: 34px;
    padding-bottom: 15px;
}

#page1-about h2:hover{
    font-size: 35px;
}

#page1-about p{
    font-size: 15px;
}

#page1-about p b:hover{
    font-size: 16px;
    text-transform: uppercase;

}


#page1-about a.custombtn{
    margin-left: 37.5%;
    max-width: 25%;
    margin-right: 37.5%;
}

@media (max-width: 991px) {
    #page1-about div div.col-6:first-child{
        flex: unset;
        max-width: unset;
    }

    #page1-about div div.col-6:last-child{
        display: none;
    }

    #page1-about div {
        width: 100%;
    }
}


/*************************
       PAGE1 LIST
 *************************/
#page1-list {

}

#page1-list #card{
    background-color: #DAEED9;
    color: black;
    border-radius: 10px;
}


#page1-list .cards{
    text-align: center;
    padding: 57px 70px;
    /*border-right: solid #959595;*/
}

#page1-list .cards:last-child{
    border-right: unset;
}


#page1-list .cards i{
    color: var(--color-page1-green);
    font-size: 45px;
    margin-bottom: 10px;
}

#page1-list .cards i:hover{
    -webkit-transform:scale(1.25); /* Safari et Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}

#page1-list .cards h2{
    margin-bottom: 20px;
}

#page1-list .cards p{
    margin-bottom: 20px;
}

#page1-list .cards a{
    color: var(--color-page1-green);
}

#page1-list .cards a:hover{
    color: var(--color-page1-green-hover);
    text-decoration: underline;
}

@media (max-width: 991px) {
    #page1-list .cards{
        padding: 20px 0px;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*************************
       PAGE1 FORM
 *************************/

#page1-form {
}

#page1-form h2 {
    font-size: 25px;
    margin-left: 60px;
    padding: 56px 0px  10px 31px;
}

#page1-form div#background{
    margin: 25px 0px;
    padding: 63px 0px;
    background: url("https://static.wixstatic.com/media/f612d4_a678bd3e3044453485b57aca4613e253~mv2.jpg/v1/fill/w_1264,h_965,al_c,q_85,usm_0.66_1.00_0.01/f612d4_a678bd3e3044453485b57aca4613e253~mv2.webp");
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-size: 100%;
}

#page1-form div#background div{
    border-radius: 12px;
    background-color: white;
}

#page1-form article.first {

    margin-left: 20%;
}


#page1-form article {
    padding: 66px 54px;
}


#page1-form article h3{
    font-size: 21px;
    text-align: center;
}

#page1-form article h3:hover{
    font-size: 23px;
}

#page1-form article p {
    margin-bottom: 18px;
    text-align: center;
    max-width: 80%;
    margin-left: 10%;
}

#page1-form article a {
    margin: 0;
    width: 100%;
    font-size: 13px;
    box-shadow: unset;
}

#page1-form i{
    margin-bottom: 15px;
}

#testrow{
    margin-left: 0;
    margin-right: 0;
}
#testrow div.col-4{
    padding: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#testrow div.d1 {
    background-image: url("../assets/devis gratuit_cleanup.jpg");
}

#testrow div.d2 {
    background-image: url("../assets/Partenariat.jpg");
}
#testrow div.d3 {
    background-image: url("../assets/decret tertiaire.jpg");
}


/*#testrow div.col-4:hover {
    -webkit-transform:scale(1.25); !* Safari et Chrome *!
    -moz-transform:scale(1.25); !* Firefox *!
    -ms-transform:scale(1.25); !* Internet Explorer 9 *!
    -o-transform:scale(1.25); !* Opera *!
    transform:scale(1.25);

}*/

@media (max-width: 991px) {
    #testrow{
        display: none;
    }

    #linkform.row{
        display: unset;
        -ms-flex-wrap: unset;
        flex-wrap: unset;
        margin-right: unset;
        margin-left: unset;
    }

    #linkform.row article.col-4{
        flex: unset;
        max-width: unset;
    }
}


#linkform {
    margin-left: 5%;
    width: 90%;
}

@media (max-width: 1179px) {
    #linkform {
        margin-left: unset;
        width: 100%;

    }

}

/*************************
       PAGE1 BLOG
 *************************/

#page1-blog div.img{
    margin-left: 60px;
    margin-top: -27px;
}

#page1-blog img.p2{
    width: 47%;
}

#page1-blog img.p4{
    width: 43%;
}

#page1-blog img.p1{
    width: 46%;
    margin-left: 18%;
    margin-top: -7%;
}

#page1-blog img.p3{
    margin-left: 19%;
}


#page1-blog img:hover{
    -webkit-transform:scale(1.25); /* Safari et Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}

#page1-blog .carousel-caption{
    display: block!important;
}


@media (max-width: 991px) {
    #page1-blog.row{
        display: unset;
        -ms-flex-wrap: unset;
        flex-wrap: unset;
        margin-right: unset;
        margin-left: unset;
    }
    #page1-blog div.col-6{
        flex: unset;
        max-width: unset;
    }
    h2.padd-mob{
        padding-top: 40px;
    }

    #page1-blog div.img{
        margin-left: 0px;
    }


    #page1-blog img.p2{
        width: 47%;
        margin-left: 24%;
    }

    #page1-blog img.p4{
        width: 43%;
        margin-left: 24%;
    }

    #page1-blog img.p1{
        width: 46%;
        margin-left: 24%;
        margin-top: -7%;
    }

    #page1-blog img.p3{
        margin-left: 20%;
        margin-top: 7%;
        width: 51%;
    }



}

/*************************
        POPUP
 *************************/
#Popup div.fixed-bottom{
    bottom: 1%;
    left: 92%;
}

#Popup div div{

    /*margin-left: 92%;*/
    /*margin-bottom: 1%;*/
    width: 80px;
    height: 80px;
    background-color: green;
    border-radius: 100%;
    font-size: 45px;
    text-align: center;
    color: white;
}

#Popup div div:hover{
    border-radius: 30%;
    content: "test";
}

@media (max-width: 991px) {
    #Popup{
        display: none;
    }
}