/*************************
       ALL OFFRE
 *************************/
:root {
    --color-blog-green: #008000FF;
}

hr.offre{
    height: 1px;
    background: #b9b7b7;
    max-width: 900px;
    margin: 35px auto;
}

/*************************
       OFFRE TITLE
 *************************/

#offre-title{
    text-align: center;
    max-width: 65%;
}

/*************************
       OFFRE PANEL
 *************************/

#offre-onglet #onglets ul{
    /* resset du ul */
    padding : 0;
    margin: 0;
    width: 80%;
    margin-left: 10%;
}

#offre-onglet .onglet:first-child{
    width: 49%;
}

#offre-onglet .onglet:last-child{
    margin-left: 0.52%; width: 50%;
}


#offre-onglet .onglet{
    /* definition des onglet 'normaux' */
    display : inline-block;
    padding : 1em 2em;
    background: #28a745;
    opacity: .6;
    font-weight: bold;
    border-radius : 4px 4px 0 0;
    cursor:pointer;

    text-align: center;
}

#offre-onglet .onglet.actif{
    /* ce qui change quand l'onglet est actif */
    opacity : 1;
}

#offre-onglet .contenu{
    /* contenu 'normal' */
    display : none;
    /*border : 5px solid #28a745;*/
    padding : 1em;
    /*background: #DAEED9;*/
    color: black

}

#offre-onglet .contenu.actif{
    /* Ce qui change quand le contenu est actif */
    display : block;
}


/*************************
       OFFRE TOUS
 *************************/

#offre-tous{
    margin-bottom: 120px;
}


#offre-tous h2.art{
    padding-top: 60px;
    padding-bottom: 30px;
}

#offre-tous p.art{
    padding-bottom: 30px;
}