/*************************
       ALL OFFRE
 *************************/
:root {
    --color-blog-green: #008000FF;
}

hr.offre{
    height: 1px;
    background: #b9b7b7;
    max-width: 900px;
    margin: 35px auto;
}

/*************************
       OFFRE TITLE
 *************************/

#offre-title{
    text-align: center;
    max-width: 65%;
}

@media (max-width: 767px) {
    #offre-title{
        max-width: unset;
    }
}

/*************************
       OFFRE ONGLET
 *************************/

:root {
    --color-back-table: #c8f9c4;
}
#shemaM{
    width: 86%;
    position: relative;
    background: var(--color-back-table);
}

#shemaM:before{
    content: '';
    position: absolute;
}


article.t2:after{
    margin-top: 14.5%;
    border-bottom: 33px solid var(--color-back-table);
    border-top: 33px solid var(--color-back-table);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    /* border-top: 2.1rem inset transparent; */
    border-left: 2.1rem solid transparent;
}

article.t3:after{
    margin-top: 14.5%;
    border-bottom: 33px solid var(--color-back-table);
    border-top: 33px solid var(--color-back-table);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    /* border-top: 2.1rem inset transparent; */
    border-left: 2.1rem solid transparent;
}

.mobile .text-center{
    margin-left: -4%;
    font-size: 20px;
    margin-bottom: 10px;
}

.mobile .titleMo{
    margin-top: 30px;
}

.text-center i.my img.reno{
    width: 32px;
}
.text-center i.my img{
    width: 29px;
}

@media (max-width: 995px) {
    .content a p br{
        display: none;
    }
}

@media (max-width: 875px) {
    br.br875{
        display: none;
    }
}

@media (max-width: 381px) {
    br.a393{
        display: none;
    }
}
@media (max-width: 529px) {
    br.a533{
        display: none;
    }
}


.otitle i.my img{
    width: 26px;
}

.otitle i.my img.reno{
    width: 29px;
}

@media (max-width: 800px) {
    .desktop{
        display: none;
    }
}
@media (min-width: 801px) {
    .mobile{
        display: none;
    }
}

div.up{
    margin-top: 15px;
    margin-right: unset;
    margin-left: unset;
}

.up .col-4:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.up i.my img.reno{
    width: 26px;
}
.up i.my img{
    width: 23px;
}

div.l1{
    width: 100%;
    height: 33.333333%;
    text-align: center;
    margin-right: unset;
    margin-left: unset;

    /* background: linear-gradient(90deg, #28A745 0%, #36dc24 100%); */
    
    background: #4F8C4E;
}

div.borderB{
    border-bottom: solid var(--color-back-table);
}

article.vide{
    background: var(--color-back-table);
}

article.t{
    color: white;
}
article.t:after{
    border-bottom: 32px solid var(--color-back-table);
    border-top: 32px solid var(--color-back-table);

    content: "";
    position: absolute;
    top: 0;
    right: 0;
    /*border-top: 2.1rem inset transparent;*/
    border-left: 2.1rem solid transparent;
}

article.col-12:after{
    border-bottom: 34px solid var(--color-back-table);
    border-top: 33px solid var(--color-back-table);
}

#shema p{
    padding-top: 6px;
}

#shema p:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#shemaM p{
    padding-top: 6px;
}

#shemaM p:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

div#shema {
    position: relative;
    /*top: 10px;
    left: 110px;*/
    width: 90%;
    height: 201px;
    background: var(--color-back-table);
    /*border: solid green;*/
}

div#shema:before {
    content : '';
    position: absolute;
    right: -100px;
    border-style: solid;
    border-width: 100px 0 101px 100px;
    border-color: transparent
    transparent transparent var(--color-back-table);
}

.timeline{
    margin-top: -20px;
    width: 90%;
}
.timeline i.my img.reno{
    width: 26px;
}
.timeline i.my img{
    width: 23px;
    margin-top: -6px;
    filter: unset;
}

.timeline i.first img{
    filter: invert(100%);
}

.timeline .content div:hover img{
    filter: invert(100%);
}

.timeline .content a2.complete i.my img{
    filter: invert(100%);
}


#offre-onglet{
    padding-bottom: 41px;
}

#offre-onglet #onglets ul{
    /* resset du ul */
    padding : 0;
    margin: 0;
    width: 90%;
    margin-left: 5%;
}

#offre-onglet .onglet:first-child{
    width: 49%;
}

#offre-onglet .onglet:last-child{
    width: 50%;
}


#offre-onglet .onglet{
    /* definition des onglet 'normaux' */
    display : inline-block;
    padding : 1em 2em;
    /* background: #28a745; */
    background: #4F8C4E;
    opacity: .8;
    font-weight: bold;
    border-radius : 4px 4px 0 0;
    cursor:pointer;
    color: white;
    text-align: center;
}

#offre-onglet .onglet.actif{
    /* ce qui change quand l'onglet est actif */
    opacity : 1;
}

#offre-onglet .contenu{
    /* contenu 'normal' */
    display : none;
    /*border : 5px solid #28a745;*/
    padding : 1em;
    /*background: #DAEED9;*/
    color: black

}

#offre-onglet .contenu.actif{
    /* Ce qui change quand le contenu est actif */
    display : block;
}

#offre-onglet .otitle{

    width: 100%;
    background-color: #C8F9C4;
    padding: 20px;
    /*margin: 50px;*/
    margin-bottom: 7px;
    text-align: center;
    /*border-top-left-radius: 7px;*/
    /*border-top-right-radius: 7px;*/
    color: black;
}

#offre-onglet .otitle:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 10px;
}

div.rowblock div.col-6{
    padding-bottom: 35px;
}

.divGlobal{
    /*background-color: #DAEED9;*/
    background-color: white;
    border: solid #28A745;
    border-radius: 20px;
}

.divOne{

    background-color: white;
    border: 2px solid #C8F9C4;
    border-radius: 10px;
    /* background: linear-gradient(97deg, #7BCE76 0%, #afffa6 100%); */
    min-height: 406px;
/* background: gainsboro;*/
}


.divTwo{

display: none;

padding: 70px;
background: url(../assets/foret.jpg);

background-position: left;

border-top-left-radius: 7px;
border-top-right-radius: 7px;
}

/*.divP{*/
/*max-width: 65%;*/
/*text-align: center;*/
/*margin-left: 17.5%;*/
/*margin-bottom: 20px;*/
/*}*/

.divP{
    max-width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-bottom: 20px;
}


section#offre-onglet{
background-image: url("../assets/nosoffres2.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
}

.iGreen {
color: #28A745;
}

@media (max-width: 1038px) {
section#offre-onglet{
    background-image: unset;
    background-color: white;
}
}

@media (max-width: 767px){

section#offre-onglet {
    width: 100%;
    max-width: unset;
    margin-left: unset;
    margin-right: unset;
    padding-right: unset;
    padding-left: unset;
}
section#offre-onglet div.container {
    width: 100%;
    max-width: unset;
    margin-left: unset;
    margin-right: unset;
    padding-right: unset;
    padding-left: unset;
}

.rowblock{
    display: unset;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    margin-right: unset;
    margin-left: unset;
}

.rowblock .col-6{
    flex: unset;
    max-width: unset;

    padding-right: 0px;
    padding-left: 0px;
}

}

@media (max-width: 538px){

#offre-onglet #onglets ul {
    width: 100%;
    margin-left: unset;
}

div.containerstop{
    width: 100%;
    max-width: unset;
    margin-left: unset;
    margin-right: unset;
    padding-right: unset;
    padding-left: unset;
}

.divGlobal{
    border-radius: unset;
}

}

@media (max-width: 433px){


#offre-onglet .onglet:last-child {
    width: 49%;
}

#offre-onglet .onglet{
    padding: 15px 10px;
}

}

.titlediv {
width: 100%;
padding-bottom: 15px;
}

.titleoffre {
position: relative;
padding: 0 0 40px;
border-bottom: 1px solid #f1eaea;
font-size: 33px;
font-weight: normal;
text-align: center;
color: #28A745;
}

.titleoffre:after {
content:    '';
position:   absolute;
display:    block;
width:      48px;
height:     5px;
left:       50%;
bottom:     -3px;
margin:     0 -24px;
background: #28A745;
}


/**/

#offre-onglet div.container{
    padding-top: 20px;
}

.timeline .content {
    height: 4.2rem;
    margin: 2rem 0;
    background: linear-gradient(90deg, #28A745 0%, #36dc24 100%);
    display: flex;
}
.timeline .content div {
    position: relative;
    flex: 1 1 auto;
    padding: 1.2rem 0 1.2rem 1.2rem;
    font-size: 1.4rem;
    background: var(--color-back-table);
    text-align: center;
}

@media (max-width: 767px) {
    .timeline .content div {
        padding: 1.2rem 0 2.2rem 0;
    }
}
.timeline .content div:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-top: 2.1rem inset transparent;
    border-left: 2.1rem solid transparent;
}
.timeline .content .current {
    color: white;
    font-weight: bold;
}
.timeline .content .current:after {
    border-bottom: 2.1rem solid var(--color-back-table);
    border-top: 2.1rem solid var(--color-back-table);
}
.timeline .content .current:last-child:after {
    border: 0;
}
.timeline .content .completed {
    color: rgba(255, 255, 255, 0.89);
}
.timeline .content .current,
.timeline .content .completed {
    background: transparent;
}

